.container {
    min-height: calc(100vh - 100px);
    background-color: #121723;
    position: relative;

    .text-zone {
        text-align: left;
        margin-left: 1em;
        width: 40%;
        max-height: 90%;
        position: absolute;
        left: 0;
        top: 0;

        p {
            text-align: justify;
            font-weight: 300;
            font-family: sans-serif;
            color: #fff;
            animation: pulse 1s;

            &:nth-of-type(1) {
                animation-delay: 1.1s;
            }

            &:nth-of-type(2) {
                animation-delay: 1.2s;
            }

            &:nth-of-type(3) {
                animation-delay: 1.3s;
            }

        }

        h1 {
            font-size: 53px;
            text-transform: uppercase;
            letter-spacing: 2px;
            color: #fff;
        }

        .language {
            p {

                font-size: 15px;
            }
            span{
                padding: 5px;
                text-transform: capitalize;
                color: #000;
                border: 1px solid #fff;
                background-color: #fff;
                border-radius: 20px;
                text-align: center;
                margin: 5px;
                font-size: 10px;

            }
        }

    }



    .stage-cube-cont {
        width: 35%;
        height: 200px;
        position: absolute;
        perspective: 600px;
        right: 25px;
    }

    .cubespinner {
        width: 100%;
        height: 100%;
        position: relative;
        transform-style: preserve-3d;
        animation: spincube 20s linear infinite;

        div {
            position: absolute;
            width: 150px;
            height: 150px;
            border: 1px solid #ccc;
            background: rgba(255, 255, 255, 0.4);
            font-size: 100px;
            display: flex;
            justify-content: center;
            align-items: center;
            box-shadow: 0 0 20px 0px lightyellow;
        }

        .face1 {
            font-size: 60px;

            transform: rotateY(0deg) translateZ(75px);
            /* Ajuster en fonction de la nouvelle taille */
        }

        .face2 {
            font-size: 60px;

            transform: rotateY(90deg) translateZ(75px);
        }

        .face3 {
            font-size: 60px;

            transform: rotateY(180deg) translateZ(75px);
        }

        .face4 {
            font-size: 60px;

            transform: rotateY(270deg) translateZ(75px);
        }

        .face5 {
            font-size: 60px;

            transform: rotateX(90deg) translateZ(75px);
        }

        .face6 {
            font-size: 60px;

            transform: rotateX(-90deg) translateZ(75px);
        }


    }


    @keyframes spincube {

        0%,
        100% {
            transform: rotateX(0deg) rotateY(0deg);
        }

        25% {
            transform: rotateX(360deg) rotateY(0deg);
        }

        50% {
            transform: rotateX(360deg) rotateY(360deg);
        }

        75% {
            transform: rotateX(0deg) rotateY(360deg);
        }
    }










}

@keyframes pulse {

    0%,
    100% {
        opacity: 1;
        transform: scale(1);
    }

    50% {
        opacity: 0.85;
        transform: scale(1.05);
    }
}


@media only screen and (max-width: 890px) {
    .container .text-zone h1 {
        font-size: 32px;
    }
    .container .text-zone  {
        font-size: 15px;
        width: 45%;
    }

    .container .cubespinner .face1,
    .container .cubespinner .face2,
    .container .cubespinner .face3,
    .container .cubespinner .face4,
    .container .cubespinner .face5,
    .container .cubespinner .face6 {
        font-size: 60px;
    }
}
@media only screen and (max-width: 600px) {
    .container .text-zone  {
        font-size: 14px;
        width: 45%;
        text-decoration: none;
    }

 
}