.footer {
    background-color: #121723d4;
    height: 150px;
    width: 100%;
    position: static;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
    .copyrights {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
    }
    .logo-c {
        color: white;
    }
}