.footer {
    // background-color: #121723d4;
    background-color: #1D2430;
    height: 150px;
    width: 100%;
    position: static;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
    .copyrights {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        margin-right: 2%;
        color: #fff;
        font-family: 'Montserrat', sans-serif;
        font-size: 12px;
        color: #fff;

    }
    .logo-c {
        color: white;
    }
    .logo {
        display: flex;
        align-items: center;
        gap: 5px;
        
    }
    .logoSocial {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 2%;
        .linkedin svg , .github svg {
            font-size: 20px;
            color: white;
         }
        //  .linkedin svg:hover , .github svg:hover {
        //     color: gray;
        //  }
    }
}